form {
	background-color: #d3d3;
	width: 60%;
	height: auto;
	border: 10px solid #d3d3d3;
	border-radius: 10px;
	margin-left: 25%;
}
textarea {
	width: 100%;
	padding: 15px;
	margin: 10px 10px 10px 0px; 
	resize: none;
	border: 2px solid grey;
	outline: none;	
	height: 250px;
	border-radius: 10px;
}
textarea:focus, input[type=text]:focus {
	background-color: #f1f1f1;
}
input[type="submit"] {
	background-color: green;
	width: 100%;
	outline: none;
	padding: 10px 15px;
	border: 2px solid green;
	border-radius: 5px;
	height: auto;
	border: none;
	color: #ffffff;
	margin: 4px 2px;
}
 input[type=text], select {
	background-color: #f1f1f1;
	outline: none;
	border: 3px solid grey;	
	border-radius: 5px;
	width: 100%;
	height: 50px;
	padding: 10px;
	margin-right: 10px;
}
label[for="lname"], label[for="fname"], label[for="others"], label[for="gender"], label[for="Courses"],
label[for="origin"], label[for="age"] {
	color: #00000f;
	padding: 6px;
	margin-top: 8px 0;			
}
/*div.form {
	background-color: #d3d3;
	width: 60%;
	height: auto;
	border: 10px solid #d3d3d3;
	border-radius: 10px;
	margin-left: 25%;
}*/
h1 {
	text-align: center;
	color: #0000ff;
	background-color: #f1f1f1;
}
optgroup {
	background-color: #d3d3d3;
	border: 3px solid grey;
	border-radius: 2px;
	outline: none;
}